infra/data-factory-resources.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string"
        },
        "hotStoreConnection": {
            "type": "string"
        },
        "coolStoreConnection": {
            "type": "string"
        },
        "startDate": {
            "type": "string",
            "defaultValue": "[utcNow('yyyy-MM-dd')]",
            "metadata": {
                "description": "Start date for the scheduled triggers, in yyyy-MM-dd format, default is today"
            }
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/Daily Copy')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy from staging to cool store",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Lookup oldest date",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "queryTimeout": "02:00:00",
                                "isolationLevel": "ReadCommitted",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "ParquetSink",
                                "storeSettings": {
                                    "type": "AzureBlobStorageWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "HotData",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "CoolData",
                                "type": "DatasetReference",
                                "parameters": {
                                    "fileName": {
                                        "value": "@activity('Lookup oldest date').output.firstRow.value",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ]
                    },
                    {
                        "name": "Switch oldest partition to staging",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[usp_switch_partition]"
                        },
                        "linkedServiceName": {
                            "referenceName": "HotStore",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Cleanup and get ready for next day",
                        "description": "",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Copy from staging to cool store",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[usp_prepare_for_next_day]"
                        },
                        "linkedServiceName": {
                            "referenceName": "HotStore",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Lookup oldest date",
                        "type": "Lookup",
                        "dependsOn": [
                            {
                                "activity": "Switch oldest partition to staging",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "AzureSqlSource",
                                "sqlReaderStoredProcedureName": "[[dbo].[usp_oldest_partition_date]",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "HotData",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        }
                    }
                ],
                "variables": {},
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/HotData')]",
                "[concat(variables('factoryId'), '/datasets/CoolData')]",
                "[concat(variables('factoryId'), '/linkedServices/CoolStore')]",
                "[concat(variables('factoryId'), '/linkedServices/HotStore')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/HotData')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "HotStore",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [],
                "typeProperties": {
                    "schema": "dbo",
                    "table": "orders_staging"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/HotStore')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CoolData')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "CoolStore",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "fileName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Parquet",
                "schema": [],
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@concat(dataset().fileName, '.parquet')",
                            "type": "Expression"
                        },
                        "container": "archive"
                    },
                    "compressionCodec": "snappy"
                },
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/CoolStore')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/HotStore')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "connectionString": "[parameters('hotStoreConnection')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/CoolStore')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "serviceEndpoint": "[parameters('coolStoreConnection')]",
                    "accountKind": "StorageV2"
                }
            },
            "dependsOn": []
        },

        {
            "name": "[concat(parameters('factoryName'), '/nightly')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "Daily Copy",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "[concat(parameters('startDate'), 'T12:00:00.000Z')]",
                        "timeZone": "UTC",
                        "schedule": {
                            "minutes": [
                                0
                            ],
                            "hours": [
                                5
                            ]
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/Daily Copy')]"
            ]
        }
    ]
}